@{
    ViewBag.Title = "Home";
}

<style>
    .middle-banner {
        width: 1200px;
        /* or whatever maximum width you prefer */
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .banner-image {
        width: 100%;
        height: auto;
        border: 5px solid #808080ff;
        display: block;
        object-fit: contain;
    }
</style>

<div class="middle-banner">
    <img src="~/Images/middlePart.png" alt="Abstract Art Banner" class="banner-image" />
</div>

